[buildout]
extends =
    http://svn.plone.org/svn/collective/buildout/plonetest/plone-4.0.x.cfg

versions = versions

parts += omelette

package-name = babble.client

[versions]
distribute =

[omelette]
recipe = collective.recipe.omelette
eggs = ${instance:eggs}

# To get a test coverage report...
# bin/coverage-test
# bin/coverage-report
[coverage-test]
recipe = zc.recipe.testrunner
eggs = 
    ${buildout:eggs}
    zope2
    Plone
    babble.client
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'report')


